<h1 class="titulo">
     Funciones CRUD
</h1>

<div class="slide">

    <input type="radio" name="imagen" hidden>
        <label>
            <img src={{fuente}} 
            class="imagenes" alt={{nombre}}>
        </label>
    
</div>

<br><br>

<div class="botones">

    <button class="btn btn-primary" (click)="agregar()" id="agregar">
        Agregar
    </button>

    <button class="btn btn-danger" (click)="eliminar()" id="eliminar">
        Eliminar
    </button>

    <button class="btn btn-secondary" (click)="modificar()" id="modificar">
        Modificar
    </button>

</div>
<br><br><br><br>
<div class="regresar">

    <button mat-icon-button (click)="regresarAHome()">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>

</div>