.titulo{
    position: center;
    margin-left: 46%;
}

.slide {
    margin-left: 45%;
}
.imagenes {
    width: 200px;
    height: 200px;
}

.botones {
    margin-left: 42%;
}

#agregar {
    margin-left: 10px;
    margin-right: 10px;
}

#eliminar {
    margin-left: 10px;
    margin-right: 10px;
}

#modificar {
    margin-left: 10px;
    margin-right: 10px;
}

.regresar {
    margin-left: 53%;
}