<div mat-dialog-tittle>
    <h1>Login</h1>
</div>

<form #forma="ngForm" >

    <div mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="usuario" [(ngModel)]="user" name="user">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" [(ngModel)]="password">
            </mat-form-field>
        </div>
    </div>
    
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="login()">Enviar</button>
        <button mat-raised-button (click)="close()">Cancelar</button>
    </div>    

</form>

<div class="carrusel">



</div>